.servicedetail .banner{
    position: relative;
}
.servicedetail .banner .image-effect {
    width: 100%;
    height: auto;
    /* Áp dụng gradient để tạo hiệu ứng mờ dần từ trái qua phải */
    -webkit-mask-image: linear-gradient(to left, black 0%, transparent 70%);
    mask-image: linear-gradient(to left, black 0%, transparent 70%);
}
.servicedetail .banner .servicetitle{
   position: absolute;
   display: flex;
   gap: 16px;
   align-items: center;
   top:40%;
   left: 5%;
}
.servicedetail h1{
font-size: 5vh;
font-weight: 900;
}
.servicedetail .banner .servicetitle img{
    width: 20%;
}
.servicedetail .servicedetail-body{
    margin-top: 16px;
}
.servicedetail .servicedetail-body table {
    width: 100%;
    border-collapse: collapse;
}

.servicedetail .servicedetail-body td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.servicedetail .menu-title {
    display: flex;
    width: 100%;
    color: white;
    background: linear-gradient(
    155deg,
    rgb(0, 45.49, 85.10) 17%,
    rgba(32, 178, 7, 1) 84%
  );
  background-blend-mode: normal;

    /* background-color: #0074D9; */
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    justify-content: center;
}
.servicedetail a{
    color: black;
}
.servicedetail a:hover{
    color: orange;
}

